@model IrrigationAdvisor.ViewModels.Agriculture.SoilViewModel

@{
    ViewBag.Title = "Delete";
   // Layout = "Agriculture";
}

<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>Soil</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="horizontal">
            <table id="mytable">
                <tr>
                    <td id="myTdHead">Establecimiento</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Farm.Name)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Nombre</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.ShortName)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Descripción</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Fecha de visita</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.TestDate)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Profundidad</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.DepthLimit)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Latitud</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Position.Latitude)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Longitud</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Position.Longitude)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Horizontes</td>
                    <td id="myTdBody">
                        @foreach (var item in Model.Horizonts)
                        {
                            @(item.Name + " - " + item.HorizonLayer + " - " + item.HorizonLayerDepth)<br>
                        }
                    </td>
                </tr>
                <tr>
                    <td id="myTdHead"></td>
                    <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
                </tr>
            </table>
        </div>

    }
</div>
