@model IrrigationAdvisor.ViewModels.Agriculture.SoilViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "Agriculture";
}

<h2>Detalle</h2>


<h4>Ciudad</h4>
<hr />


<div class="horizontal">
    <table id="mytable">
        <tr>
            <td id="myTdHead">Establecimiento</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Farm.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">Nombre</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.ShortName)</td>
        </tr>
        <tr>
            <td id="myTdHead">Descripción</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td id="myTdHead">Fecha de visita</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.TestDate)</td>
        </tr>
        <tr>
            <td id="myTdHead">Profundidad</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.DepthLimit)</td>
        </tr>
        <tr>
            <td id="myTdHead">Latitud</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Position.Latitude)</td>
        </tr>
        <tr>
            <td id="myTdHead">Longitud</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Position.Longitude)</td>
        </tr>
        <tr>
            <td id="myTdHead">Horizontes</td>
            <td id="myTdBody">
              @foreach (var item in Model.Horizonts)
                {
                    @(item.Name + " - " + item.HorizonLayer + " - " + item.HorizonLayerDepth)<br>
                }
            </td>
        </tr>
        <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody">@Html.ActionLink("   Editar   ", "Edit", new { id = Model.SoilId }, new { @class = "btn btn-default" }) &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>

</div>





<p>
    &nbsp;
</p>