@model IEnumerable<IrrigationAdvisor.Models.Agriculture.Soil>

@{
    ViewBag.Title = "Index";
   // Layout = "Agriculture";
}

<h2>Suelos</h2>

<p>
    @Html.ActionLink("Nuevo", "Wizard")
</p>
<table class="table">
    <tr>
        <th>
            Esatablecimiento
        </th>
        <th>
           Nombre
        </th>
        <th>
            Descripcíon
        </th>

        <th>
            Fecha visita
        </th>
        <th>
            Profundidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Farm.Name)
        </td>       
         <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepthLimit)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SoilId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.SoilId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.SoilId })
        </td>
    </tr>
}

</table>
