@model IrrigationAdvisor.ViewModels.Localization.CountryViewModel

@{
    ViewBag.Title = "Details";
   // Layout = "Localization";
}

<script src="~/js/Home.js"></script>
<h2>Detalle</h2>
<h4>Paises</h4>
<hr />

<div class="horizontal">
    <table id="mytable">
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Name)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
        </tr>

        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.LanguageId)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Language.Name)</td>
        </tr>


        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.CapitalId)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Capital.Name)</td>
        </tr>

        <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody">@Html.ActionLink("   Editar   ", "Edit", new { id = Model.CountryId }, new { @class = "btn btn-default" }) &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>
</div>





<p>
    &nbsp;
</p>