@model List<IrrigationAdvisor.Models.Reports.ReportPivotState.GridReportPivotState>

@{
    ViewBag.Title = "Pivot Irrigation";
}

@foreach (var item in Model)
{
    @CustomRenderingOfColumn(item)
}

@helper CustomRenderingOfColumn(IrrigationAdvisor.Models.Reports.ReportPivotState.GridReportPivotState grid)
{
    <tr>
        <td align="center">@grid.Day</td>
        <td align="center">@grid.DailyRecordDate</td>
        <td align="right">@grid.EffectiveInputWater</td>
        <td align="right">@grid.EffectiveRain</td>
      
    </tr>
}





