@model IrrigationAdvisor.ViewModels.Agriculture.PhenologicalStageViewModel

@{
    ViewBag.Title = "Create";
  
}

<script js>
    $(document).ready(function () {
        var saveBtn = $('#SaveBtn');

        saveBtn.click(function () {
            var validateForm = true;

            if ($('#StageId').val().trim() != '') {
                $('#StageIdError').html('');
                validateForm = true;
            }
            else {
                $('#StageIdError').html('Seleccione un estadio');
                validateForm = false;
            }
            
            if (validateForm == true) {
                if ($('#SpecieId').val().trim() != '') {
                    $('#SpecieIdError').html('');
                    validateForm = true;
                }
                else {
                    $('#SpecieIdError').html('Seleccione una especie');
                    validateForm = false;
                }
            }

            if (validateForm == true) {
                if ($("#MinDegree").val().trim() === "") {
                    $("#MinDegreeError").html("Ingrese los grados mínimos");
                    validateForm = false;
                }
                else {
                    if (!isNaN($("#MinDegree").val())) {
                        $("#MinDegreeError").html("");
                        validateForm = true;
                    }
                    else {
                        $("#MinDegreeError").html("En los grados mínimos ingrese solo números");
                        validateForm = false;
                    }
                }
            }

            if (validateForm == true) {
                if ($("#MaxDegree").val().trim() === "") {
                    $("#MaxDegreeError").html("Ingrese los grados máximos");
                    validateForm = false;
                }
                else {
                    if (!isNaN($("#MaxDegree").val())) {
                        $("MaxDegreeError").html("");
                        validateForm = true;
                    }
                    else {
                        $("#MaxDegreeError").html("En los grados máximos ingrese solo número");
                        validateForm = false;
                    }
                }
            }

            if (validateForm == true) {
                if ($("#RootDepth").val().trim() === "") {
                    $("#RootDepthError").html("Ingrese la profundidad de la raíz");
                    validateForm = false;
                }
                else {
                    if (!isNaN($("#RootDepth").val())) {
                        $("#RootDepthError").html("");
                        validateForm = true;
                    }
                    else {
                        $("#RootDepthError").html("En la profundidad de la raíz ingrese solo números");
                        validateForm = false;
                    }
                }
            }

            if (validateForm == true) {
                if ($("#HydricBalanceDepth").val().trim() === "") {
                    $("#HydricBalanceDepthError").html("Ingrese el balance hídrico");
                    validateForm = false;
                }
                else {
                    if (!isNaN($("#HydricBalanceDepth").val())) {
                        $("#HydricBalanceDepthError").html("");
                        validateForm = true;
                    }
                    else {
                        $("#HydricBalanceDepthError").html("En el balance hídrico ingrese solo números");
                        validateForm = false;
                    }
                }
            }

            if (validateForm == true) {
                if ($("#Coefficient").val().trim() === "") {
                    $("#CoefficientError").html("Ingrese el coeficiente");
                    validateForm = false;
                }
                else {
                    if (!isNaN($("#Coefficient").val())) {
                        $("#CoefficientError").html("");
                        validateForm = true;
                    }
                    else {
                        $("#CoefficientError").html("En el coeficiente ingrese solo números");
                        validateForm = false;
                    }
                }
            }

            if (validateForm == true) {
                if ($("#DegreesDaysInterval").val().trim() === "") {
                    $("#DegreesDaysIntervalError").html("Ingrese los rados acum. diarios");
                    validateForm = false;
                }
                else {
                    if (!isNaN($("#DegreesDaysInterval").val())) {
                        $("#DegreesDaysIntervalError").html("");
                        validateForm = true;
                    }
                    else {
                        $("#DegreesDaysIntervalError").html("En los grados acum. diarios ingrese solo números");
                        validateForm = false;
                    }
                }
            }

            if (validateForm == true) {
                $('#myForm').submit();

            }
        });
    });
</script>

<h2>Nuevo</h2>


@using (Html.BeginForm("Create", "PhenologicalStages", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PhenologicalStage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StageId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StageId, Model.Stages, "-- Selecione un estadio --", new { @class = "form-control" })
                <span id="StageIdError" class="red-color"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SpecieId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SpecieId, Model.Species, "-- Selecione una especie --", new { @class = "form-control" })
                <span id="SpecieIdError" class="red-color"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinDegree, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinDegree, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Ejemplo: 2,5" } })
                <span id="MinDegreeError" class="red-color"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxDegree, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDegree, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Ejemplo: 2,5" } })
                <span id="MaxDegreeError" class="red-color"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RootDepth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RootDepth, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Ejemplo: 2,5" } })
                <span id="RootDepthError" class="red-color"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HydricBalanceDepth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HydricBalanceDepth, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Ejemplo: 2,5" } })
                <span id="HydricBalanceDepthError" class="red-color"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coefficient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coefficient, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Ejemplo: 2,5" } })
                <span id="CoefficientError" class="red-color"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DegreesDaysInterval, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DegreesDaysInterval, new { htmlAttributes = new { @class = "form-control", @Value = "", @placeholder = "Ejemplo: 2,5" } })
                <span id="DegreesDaysIntervalError" class="red-color"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="cf footer">
                <label class="control-label col-md-2" for="CapitalId"></label>

                <input type="button" value="&nbsp;&nbsp;&nbsp;Gaurdar&nbsp;&nbsp;&nbsp;" id="SaveBtn" class="btn btn-default" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<div>
    &nbsp;
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
