@model IrrigationAdvisor.ViewModels.Agriculture.PhenologicalStageViewModel

@{
    ViewBag.Title = "Delete";

}

<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>Farm</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="horizontal">
            <table id="mytable">
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.SpecieName)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.SpecieName)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.StageName)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.StageName)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.MinDegree)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.MinDegree)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.MaxDegree)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.MaxDegree)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.RootDepth)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.RootDepth)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.HydricBalanceDepth)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.HydricBalanceDepth)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.Coefficient)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Coefficient)</td>
                </tr>
                <tr>
                    <td id="myTdHead">@Html.DisplayNameFor(model => model.DegreesDaysInterval)</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.DegreesDaysInterval)</td>
                </tr>
                <tr>
                    <td id="myTdHead"></td>
                    <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
                </tr>
            </table>
        </div>

    }
</div>