@model IrrigationAdvisor.Models.Agriculture.PhenologicalStage

@{
    ViewBag.Title = "Delete";
    Layout = "Agriculture";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhenologicalStage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MinDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RootDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RootDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HydricBalanceDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HydricBalanceDepth)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
