@model IEnumerable<IrrigationAdvisor.Models.Agriculture.PhenologicalStage>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Especie
        </th>
        <th>
            Estadio
        </th>
        <th>
            Grado mínimo
        </th>
        <th>
            Grado máximo
        </th>
        <th>
           Prof. raíz
        </th>
        <th>
           Bal. hídrico
        </th>
        <th>
            Coeficiente
        </th>
        <th>
            Grados acum. diarios
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Specie.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootDepth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HydricBalanceDepth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreesDaysInterval)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PhenologicalStageId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.PhenologicalStageId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PhenologicalStageId })
        </td>
    </tr>
}

</table>
