@model IrrigationAdvisor.Models.Irrigation.Drip

@{
    ViewBag.Title = "Details";
    Layout = "Irrigation";
}

<h2>Details</h2>

<div>
    <h4>Drip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrrigationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrrigationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrrigationEfficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrrigationEfficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IrrigationUnitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
