@model IEnumerable<IrrigationAdvisor.Models.Water.EffectiveRain>

@{
    ViewBag.Title = "Index";
    Layout = "Water";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinRain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinRain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxRain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EffectiveRainId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EffectiveRainId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EffectiveRainId })
        </td>
    </tr>
}

</table>
