@model List<IrrigationAdvisor.Models.Reports.ReportPivotState.GridReportPivotState>

@{
    ViewBag.Title = "Pivot Irrigation";
}

@foreach (var item in Model)
{
    @CustomRenderingOfColumn(item)
}

@helper CustomRenderingOfColumn(IrrigationAdvisor.Models.Reports.ReportPivotState.GridReportPivotState grid)
{
    <tr>
 
        <td align="center" width="10%">@grid.Day</td>
        <td align="center" width="20%">@grid.DailyRecordDate</td>
        <td align="right" width="20%">@grid.EffectiveInputWater</td>
        <td align="right" width="20%">@grid.EffectiveRain</td>
    </tr>
}





