@model IrrigationAdvisor.ViewModels.Localization.CityViewModel

@{
    ViewBag.Title = "Delete";
    //Layout = "Localization";
}

<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>Ciudad</h4>
    <hr />
 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="horizontal">
            <div class="horizontal">
                <table id="mytable">
                    <tr>
                        <td id="myTdHead">@Html.DisplayNameFor(model => model.Name)</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">@Html.DisplayNameFor(model => model.Latitude)</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Latitude)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">@Html.DisplayNameFor(model => model.Longitude)</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Longitude)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">@Html.DisplayNameFor(model => model.CountryName)</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.CountryName)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead"></td>
                        <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
                    </tr>
                </table>
            </div>

        </div>
    }
</div>
