@model IEnumerable<IrrigationAdvisor.Models.Localization.City>

@{
    ViewBag.Title = "Index";
    //Layout = "Localization";
}

<h2>Ciudades</h2>

<p>
    @Html.ActionLink("Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Ciudad
        </th>
        <th>
            Latitud
        </th>
        <th>
            Longitud
        </th>
        <th width="20%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Longitude)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CityId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.CityId }) |

        </td>
    </tr>
}

</table>
