@model List<IrrigationAdvisor.Models.Reports.GridDailyRecordIrrigationResume>

@{
    ViewBag.Title = "Pivot Irrigation";
}

@foreach (var item in Model)
{
    @CustomRenderingOfColumn(item)
}

@helper CustomRenderingOfColumn(IrrigationAdvisor.Models.Reports.GridDailyRecordIrrigationResume grid)
{
    <tr>
        <td width="10%" align="center">@grid.Day</td>
        <td width="30%" align="center">@grid.DailyRecordDate</td>
        <td width="30%" align="right">@grid.EffectiveInputWater</td>
        <td width="30%" align="right">@grid.EffectiveRain</td>
      
    </tr>
}





