@model IrrigationAdvisor.Models.Agriculture.SpecieCycle

@{
    ViewBag.Title = "Details";
    Layout = "Agriculture";
}

<h2>Details</h2>

<div>
    <h4>SpecieCycle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecieCycleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
