@model IEnumerable<IrrigationAdvisor.Models.Agriculture.SpecieCycle>

@{
    ViewBag.Title = "Index";
    //Layout = "Agriculture";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Duración
        </th>
        <th>
            Región
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Name)
        </td>
        <td width="20%">
            @Html.ActionLink("Editar", "Edit", new { id = item.SpecieCycleId }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.SpecieCycleId })
       </td>
    </tr>
}

</table>
