@model IEnumerable<IrrigationAdvisor.Models.Water.Irrigation>

@{
    ViewBag.Title = "Index";
    Layout = "Water";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Input)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraInput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Input)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraInput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WaterInputId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WaterInputId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WaterInputId })
        </td>
    </tr>
}

</table>
