@model List<IrrigationAdvisor.Models.Reports.ReportIrrigationUnit.GridReportIrrigationUnit>

@{
    ViewBag.Title = "Pivot Irrigation";
}

@foreach (var item in Model)
{
    @CustomRenderingOfColumn(item)
}

@helper CustomRenderingOfColumn(IrrigationAdvisor.Models.Reports.ReportIrrigationUnit.GridReportIrrigationUnit grid)
{
    <tr>
        <td  align="center">@grid.Day</td>
        <td  align="center">@grid.DailyRecordDate</td>
        <td  align="right">@grid.EffectiveInputWater</td>
        <td align="right">@grid.EffectiveRain</td>
        @{ if (grid.ShowTemperatureColumn)
         {
        <td  align="right">@grid.Temperature</td>
         }
        }

        @{ if (grid.ShowEvapotranspirationColumn)
         {
            <td  align="right">@grid.Evapotranspiration</td>
         }
        }


        @{ if (grid.ShowAvailableWaterColumn)
         {
            <td align="right">@grid.AvailableWater</td>
         }
        }
        <td  align="right">@grid.Phenology</td>
        <td align="right">@grid.CropCoefficient</td>

      
    </tr>
}





