@model IrrigationAdvisor.Models.Agriculture.Stage

@{
    ViewBag.Title = "Details";
    
}

<h2>Detalle</h2>
<h4>Estadio</h4>
<hr />
<div class="horizontal">
    <table id="mytable">

        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Name)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.ShortName)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.ShortName)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Description)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Order)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Order)</td>
        </tr>
        <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody">@Html.ActionLink("   Editar   ", "Edit", new { id = Model.StageId }, new { @class = "btn btn-default" }) &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>
</div>

<p>
    &nbsp;
</p>

