@model IrrigationAdvisor.ViewModels.Irrigation.PivotViewModel

@{
    ViewBag.Title = "Details";
   // Layout = "Irrigation";
}

<h2>Detalle</h2>


<div class="horizontal">
    <table id="mytable">
        <tr>
            <td id="myTdHead">Nombre</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.ShortName)</td>
        </tr>
        <tr>
            <td id="myTdHead">Eficiencia</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.IrrigationEfficiency)</td>
        </tr>
        <tr>
            <td id="myTdHead">Superficie</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Surface)</td>
        </tr>

        <tr>
            <td id="myTdHead">Riego predeterminado</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.PredeterminatedIrrigationQuantity)</td>
        </tr>
        <tr>
            <td id="myTdHead">Visible</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Show)</td>
        </tr>
        <tr>
            <td id="myTdHead">Establecimiento</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Farm.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">Latitud</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Position.Latitude)</td>
        </tr>
        <tr>
            <td id="myTdHead">Longitud</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Position.Longitude)</td>
        </tr>
        <tr>
            <td id="myTdHead">Bomba</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Bomb.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">Tipo de riego</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.IrrigationType)</td>
        </tr>
        <tr>
            <td id="myTdHead">Radio</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Radius)</td>
        </tr>
        
               <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody">
                  
                   @Html.ActionLink(linkText: "   Editar   ", actionName: "Edit", controllerName: "Pivots", routeValues: new { id = Model.IrrigationUnitId }, htmlAttributes: new { @class = "btn btn-default" })
                   &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink(linkText: "Volver a la lista", actionName: "Index", controllerName: "IrrigationUnit", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</td>
        </tr>
    </table>
</div>





<p>
    &nbsp;
</p>