@model IEnumerable<IrrigationAdvisor.Models.Agriculture.Specie>

@{
    ViewBag.Title = "Index";
    //Layout = "Agriculture";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ciclo de especie
        </th>
        <th>
            Nombre
        </th>
        <th>
            Temperatura base
        </th>
        <th>
            Temperatura stress            
        </th>
        <th>
            Región
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecieCycle.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseTemperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StressTemperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SpecieId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.SpecieId }) 
        </td>
    </tr>
}

</table>
