@model IEnumerable<IrrigationAdvisor.Models.Management.CropIrrigationWeather>

@{
    ViewBag.Title = "Index";
    // Layout = "Management";
}

<h2>Index</h2>

<p>
    <!-- @Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            CropIrrigationWeatherName
        </th>
        <th>
            SowingDate
        </th>
        <th>
            HarvestDate
        </th>

        <th>
            MainWeatherStation
        </th>
        <th>
            AlternativeWeatherStation
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CropIrrigationWeatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SowingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainWeatherStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternativeWeatherStation.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditShort", new { id = item.CropIrrigationWeatherId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CropIrrigationWeatherId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CropIrrigationWeatherId })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}