@model IrrigationAdvisor.ViewModels.Weather.WeatherStationViewModel

@{
    ViewBag.Title = "Delete";
   // Layout = "Weather";
}

<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>Soil</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="horizontal">
            <table id="mytable">
                <tr>
                    <td id="myTdHead">Nombre</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Modelo</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Model)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Fecha instalación</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.DateOfInstallation)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Fecha servicio</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.DateOfService)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Fecha actualización</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.UpdateTime)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Trans. wireless</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.WirelessTransmission)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Dirección web</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.WebAddress)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Tipo de estación</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.StationType)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Tipo de datos</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.WeatherDataType)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Brinda ET</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.GiveET)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Habilitada</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Enabled)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Latitud</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Latitude)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Longitud</td>
                    <td id="myTdBody">@Html.DisplayFor(model => model.Longitude)</td>
                </tr>
                <tr>
                    <td id="myTdHead">Establecimientos</td>
                    <td id="myTdBody">
                        @foreach (var item in Model.Farms)
                        {
                            @(item.Text)<br>
                        }
                    </td>
                </tr>
                <tr>
                    <td id="myTdHead"></td>
                    <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
                </tr>
            </table>
        </div>

    }
</div>
