@model IrrigationAdvisor.Models.Weather.WeatherStation

@{
    ViewBag.Title = "Delete";
    Layout = "Weather";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WeatherStation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfInstallation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfInstallation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WirelessTransmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WirelessTransmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiveET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiveET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherDataType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherDataType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
