@model IEnumerable<IrrigationAdvisor.Models.Weather.WeatherStation>

@{
    ViewBag.Title = "Index";
    //Layout = "Weather";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfInstallation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WirelessTransmission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiveET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>        
        <th>
           Pos. @Html.DisplayNameFor(model => model.Position.Latitude)
        </th>
        <th>
            Pos. @Html.DisplayNameFor(model => model.Position.Longitude)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfInstallation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WirelessTransmission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiveET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Position.Latitude)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Position.Longitude)
        </td>        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.WeatherStationId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.WeatherStationId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.WeatherStationId })
        </td>
    </tr>
}

</table>
