@model IrrigationAdvisor.Models.Weather.WeatherData

@{
    ViewBag.Title = "Delete";
   // Layout = "Weather";
}

<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>País</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="horizontal">
            <div class="horizontal">
                <table id="mytable">
                    <tr>
                        <td id="myTdHead">Fecha</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">Temperatura max.</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.TemperatureMax)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">Temperatura min.</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.TemperatureMin)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">Evapotranspiración</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Evapotranspiration)</td>
                    </tr>                  
                    <tr>
                        <td id="myTdHead">Weather Data</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.WeatherDataType)</td>
                    </tr>                    <tr>
                        <td id="myTdHead"></td>
                        <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
                    </tr>
                </table>
            </div>

        </div>

    }
</div>