@model IrrigationAdvisor.ViewModels.Security.EditUserViewModel

@{
    ViewBag.Title = "Delete";
    //Layout = "";
}



<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>Ciudad</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="horizontal">
            <div class="horizontal">
                <table id="mytable">
                    <tr>
                        <td id="myTdHead">Nombre</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
                    </tr>

                    <tr>
                        <td id="myTdHead">Apellido</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Surname)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">Teléfono</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Phone)</td>
                    </tr>

                    <tr>
                        <td id="myTdHead">Dirección</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">E-mail</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">Usuario</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead">Rol</td>
                        <td id="myTdBody">@Html.DisplayFor(model => model.RolName)</td>
                    </tr>
                    <tr>
                        <td id="myTdHead"></td>
                        <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
                    </tr>
                </table>
            </div>

        </div>
    }
</div>