@model IrrigationAdvisor.Models.Security.User

@{
    ViewBag.Title = "Details";
    Layout = "";
}

<h2>Details</h2>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>
<!--aca-->

<link rel="stylesheet" type="text/css" href="../../css/library/bootstrap.min.css">
<link rel="stylesheet" href="~/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../css/md-font.css">
<link rel="stylesheet" type="text/css" href="../../css/flatWeather-index.css">
<link rel="stylesheet" type="text/css" href="../../css/slippry.css">
<script type="text/javascript" src="../../js/library/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../js/library/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/library/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="../../js/library/jquery.appear.min.js"></script>
<script type="text/javascript" src="../../js/library/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../../css/slippry.min.js"></script>
<script type="text/javascript" src="../../js/scripts.js"></script>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

