@model IrrigationAdvisor.ViewModels.Security.EditUserViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "";
}
<h2>Detalle</h2>


<h4>Usuario</h4>
<hr />
<div class="horizontal">
    <table id="mytable">
        <tr>
            <td id="myTdHead">Nombre</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
        </tr>

        <tr>
            <td id="myTdHead">Apellido</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Surname)</td>
        </tr>
        <tr>
            <td id="myTdHead">Teléfono</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Phone)</td>
        </tr>

        <tr>
            <td id="myTdHead">Dirección</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <td id="myTdHead">E-mail</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td id="myTdHead">Usuario</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td id="myTdHead">Rol</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.RolName)</td>
        </tr>
        <tr>
            <td id="myTdHead">Habilitado</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Enable)</td>
        </tr>
        <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody">@Html.ActionLink("   Editar   ", "Edit", new { id = Model.UserId }, new { @class = "btn btn-default" }) &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>
</div>




<p>
    &nbsp;
</p>



