@model IrrigationAdvisor.ViewModels.Localization.FarmViewModel

@{
    ViewBag.Title = "Delete";
    //Layout = "Localization";
}

<h2>Eliminar</h2>

<h3>Confirma la eliminación?</h3>
<div>
    <h4>Farm</h4>
    <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 <div class="horizontal">
    <table id="mytable">
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Name)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Company)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Company)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Address)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Phone)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Has)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Has)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.CityId)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.City.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.WeatherStationId)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.WeatherStation.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.IrrigationUnitReportShowAvailableWater)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.IrrigationUnitReportShowAvailableWater)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.IrrigationUnitReportShowEvapotranspiration)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.IrrigationUnitReportShowEvapotranspiration)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.IrrigationUnitReportShowTemperature)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.IrrigationUnitReportShowTemperature)</td>
        </tr>

        <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody"><input type="submit" value="&nbsp;&nbsp;&nbsp;Borrar&nbsp;&nbsp;&nbsp;" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>
</div>

}
</div>
