@model IEnumerable<IrrigationAdvisor.Models.Localization.Farm>

@{
    ViewBag.Title = "Establecientos";
    //Layout = "Localization";
}

<h2>Establecimientos</h2>

<p>
    @Html.ActionLink("Nuevo", "Wizard")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Dirección
        </th>
        <th>
            Ciudad
        </th>
        <th>
          Teléfono
        </th>
        <th>
           Hectáreas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.IsActive)
    { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Has)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FarmId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.FarmId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.FarmId })
        </td>
    </tr>
    }
}

</table>
