@model IrrigationAdvisor.Models.Irrigation.Bomb

@{
    ViewBag.Title = "Details";
    Layout = "Irrigation";
}

<h2>Details</h2>

<div>
    <h4>Bomb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BombId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
