@model List<IrrigationAdvisor.Models.GridHome.GridPivotHome>

@{
    ViewBag.Title = "Pivot Irrigation";
}

@helper CustomRain(Double value, string date)
{
    <td><span class="description-mobile-left">@date</span><div class="ref-rain"><span class="value-mobile-position">@value</span></div></td>
}

@helper CustomIrrigation(Double value, string date)
{  
    <td><span class="description-mobile-left">@date</span> <div class="ref-irrigated"><span class="value-mobile-position">@value</span></div></td>
}

@helper ForecastIrrigation(Double value, string date)
{
    <td><span class="description-mobile-left">@date</span><div class="ref-next-irrigation"> <span class="value-mobile-position">@value</span> </div></td>
}
@helper NoIrrigation(Double value, string date)
{
    <td><span class="description-mobile-left">@date</span><div class="ref-no-irrigation"> <span class="value-mobile-position"></span> </div></td>
}

@foreach (var item in Model)
{   
        @CustomRenderingOfColumn(item)
}

@helper CustomRenderingOfColumn(IrrigationAdvisor.Models.GridHome.GridPivotHome gridPivotItem)
{
    <tr>
        <td>@gridPivotItem.IrrigationUnitName</td>
        <td>@gridPivotItem.CropName</td>
        <td>@gridPivotItem.SowingDate</td>
        <td>@gridPivotItem.PhenologyName</td>
        <td>@gridPivotItem.TotalEvapotranspirationCrop</td>
        <td>@gridPivotItem.HydricBalance</td>
        @foreach (var detail in @gridPivotItem.ListGridPivotDetailHome)
        {
            if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.Rain)
            {
                @CustomRain(detail.IrrigationQuantity + detail.RainQuantity, detail.Day)
            }
            else if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.Irrigated)
            {
                @CustomIrrigation(detail.IrrigationQuantity + detail.RainQuantity, detail.Day)

            }
            else if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.NextIrrigation)
            {
                @ForecastIrrigation(detail.ForecastIrrigationQuantity + detail.RainQuantity, detail.Day)
            }
            else if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.NoIrrigation)
            {
                @NoIrrigation(detail.ForecastIrrigationQuantity + detail.RainQuantity, detail.Day)
            }
            else
            {
                <td><span class="description-mobile-left">@detail.Day</span>  <div class="ref-default"></div></td>
            }
        }
    </tr>
}





