@model List<IrrigationAdvisor.Models.GridHome.GridPivotHome>

@{
    ViewBag.Title = "Pivot Irrigation";
}

@helper CustomRain(Double value)
{
    <td>@value <div class="ref-rain"></div></td>
}

@helper CustomIrrigation(Double value)
{  
    <td>@value <div class="ref-irrigated"></div></td>
}

@helper ForecastIrrigation(Double value)
{
    <td>@value <div class="ref-next-irrigation"></div></td>
}

@foreach (var item in Model)
{   
        @CustomRenderingOfColumn(item)
}

@helper CustomRenderingOfColumn(IrrigationAdvisor.Models.GridHome.GridPivotHome gridPivotItem)
{
    <tr>
        <td>@gridPivotItem.IrrigationUnitName</td>
        <td>@gridPivotItem.CropName</td>
        <td>@gridPivotItem.SowingDate</td>
        <td>@gridPivotItem.PhenologyName</td>

        @foreach (var detail in Model.First().ListGridPivotDetailHome)
        {
            if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.Cyan)
            {
                @CustomRain(detail.IrrigationQuantity + detail.RainQuantity)
            }
            else if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.Blue)
            {
                @CustomIrrigation(detail.IrrigationQuantity)

            }
            else if (detail.IrrigationStatus == IrrigationAdvisor.Models.Utilities.Utils.IrrigationStatus.Green)
            {
                @ForecastIrrigation(detail.ForecastIrrigationQuantity)
            }
            else
            {
                <td>  <div class="ref-default"></div></td>
            }
        }
    </tr>
}





