@model IrrigationAdvisor.Models.Weather.ResultUnderGroundToSharp.RootObject

@{
    ViewBag.Title = "Weather";
}
<section class="pivot-ub">
    <div class="container-images-horiz">
        <div class="col-md-12">
            <div class="location-pivot">

            </div>
            <div id="example-home">
                <div class="flatWeatherPlugin">
                    <h2>Tacuarembo</h2>
                    <div class="wiToday">
                        <div class="wiIconGroup">
                            <div class="rainy">
                                <img src="@Model.forecast.simpleforecast.forecastday[0].icon_url" alt="" />
                            </div>
                            <p class="wiText">@Model.forecast.simpleforecast.forecastday[0].conditions</p>
                        </div>
                        <p class="wiTemperature">@Model.forecast.simpleforecast.forecastday[0].promedio<sup>ºC</sup></p>
                        <div class="wiDetail">
                            <p class="wiDay">@Model.forecast.simpleforecast.forecastday[0].date.weekday</p>
                            <ul class="astronomy">
                                <li class="sunrise">
                                    <img src="../images/icons-weather/sunrise.png" alt="" />
                                    18:45 PM
                                </li>

                                <li class="sunrise">
                                    <img src="../images/icons-weather/sunrise.png" alt="" />
                                    06:45 AM
                                </li>
                            </ul>
                            <ul class="temp">
                                <li>Max @Model.forecast.simpleforecast.forecastday[0].high.celsius <sup>ºC</sup></li>
                                <li>Min @Model.forecast.simpleforecast.forecastday[0].low.celsius <sup>ºC</sup></li>
                            </ul>
                            <ul class="atmosphere">
                                <li class="humidity">  <img src="../images/icons-weather/humidity.png" alt="" /> Humedad: @Model.forecast.simpleforecast.forecastday[0].avehumidity %</li>

                                <li class="radiaction"><img src="../images/icons-weather/radiaction.png" alt="" />      Radiación: 1000</li>

                                <li class="wind"><img src="../images/icons-weather/wind.png" alt="" /> Viento: @Model.forecast.simpleforecast.forecastday[0].avewind.kph  km/h/li>

                                <li class="eto"> <img src="../images/icons-weather/eto.png" alt="" /> Eto: 000</li>

                            </ul>
                        </div>
                    </div>

                    <ul class="wiForecasts">

                        @foreach (var item in @Model.forecast.simpleforecast.forecastday.Skip(1))
                        {



                            <li class="wiDay">
                                <span>@item.date.weekday</span>
                                <ul class="wiForecast">

                                    <img src="@item.icon_url" style="height:20px;" alt="" />
                                    <li class="wiMax">
                                    <li>Máx: @item.high.celsius <sup>ºC</sup></li>
                                    <li class="wiMin"> Min: @item.low.celsius <sup>ºC</sup></li>
                                </ul>
                            </li>

                        }



                    </ul>











                </div>
            </div>
        </div>
    </div>

</section>
