@model IrrigationAdvisor.ViewModels.Agriculture.HorizonViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "Agriculture";
}

<h2>Detalle</h2>

<div class="horizontal">
    <table id="mytable">
        <tr>
            <td id="myTdHead">Suelo</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Soil.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">Nombre</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td id="myTdHead">Orden</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Order)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.HorizonLayer)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.HorizonLayer)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.HorizonLayerDepth)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.HorizonLayerDepth)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Sand)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Sand)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Limo)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Limo)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.Clay)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.Clay)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.OrganicMatter)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.OrganicMatter)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.NitrogenAnalysis)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.NitrogenAnalysis)</td>
        </tr>
        <tr>
            <td id="myTdHead">@Html.DisplayNameFor(model => model.BulkDensitySoil)</td>
            <td id="myTdBody">@Html.DisplayFor(model => model.BulkDensitySoil)</td>
        </tr>
        <tr>
            <td id="myTdHead"></td>
            <td id="myTdBody">@Html.ActionLink("   Editar   ", "Edit", new { id = Model.HorizonId }, new { @class = "btn btn-default" }) &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>

</div>

<p>
    &nbsp;
</p>
