@model IEnumerable<IrrigationAdvisor.Models.Agriculture.Horizon>

@{
    ViewBag.Title = "Index";
   // Layout = "Agriculture";
}

<h2>Horizontes</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Suelo
        </th>
        <th>
            Nombre horizonte
        </th>
        <th>
            Orden
        </th>
        <th>
            Capa
        </th>
        <th>
            Profundidad de capa
        </th>
        <th>
            Arena
        </th>
        <th>
            Barro (limo)
        </th>
        <th>
           Arcilla
        </th>
        <th>
            Materia orgánica
        </th>
        <th>
            Análisis de nitrógeno
        </th>
        <th>
            Densidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Soil.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorizonLayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorizonLayerDepth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganicMatter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NitrogenAnalysis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BulkDensitySoil)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.HorizonId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.HorizonId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.HorizonId })
        </td>
    </tr>
}

</table>
